* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
}

header {
    width: 100%;
    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 32px;
}

.logo-header img {
    width: 200px;
}

nav.nav-header {
    margin-right: 16px;
}

.nav-header a {
    text-decoration: none;
    padding: 0 12px;
    color: #FDFDFD;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    text-transform: uppercase;
}

section.introducao {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 64px 80px;
    background: #F7F7F7;
}

div.curso {
    display: flex;
    justify-content: space-between;
}

.curso img {
    padding-left: 88px;
    display: flex;
}

.curso h1 {
    padding-bottom: 22px;
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;

    color: #FF4081;
}

.curso p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

section.aulas {
    background-color: #E5E5E5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 190px 75px 212px;
}

.aulas hr {
    margin: 75px 0;
    background-color: #C4C4C4;
    /* color:  */
    height: 4px;
    border: none;
}

div.galeria {
    display: flex;
    justify-content: center;
}

.video img {
    padding-right: 76px;
}

div .descricao {
    display: flex;
    flex-direction: column;
}

.descricao h2 {
    padding-bottom: 26px;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;

    color: #FF4081;
}

.descricao p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;
}

footer {
    width: 100%;
    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 32px;
}

.nav-footer a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 4px;
}

.button-footer a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 8px 24px;
    margin: 10px;
}

@media screen and (max-width: 480px) {

    .nav-header a {
        display: flex;
        text-decoration: none;
        padding: 0 12px;
        color: #FDFDFD;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        /* identical to box height */

        text-transform: uppercase;
    }

    section.introducao {
        width: 100%;
        background: #F7F7F7;
    }

    .curso img {
        display: none;
    }

    section.aulas {
        background-color: #E5E5E5;
        background-color: aqua;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .aulas hr {
        margin: 75px 0;
        background-color: #C4C4C4;
        /* color:  */
        height: 4px;
        border: none;
    }

    div.galeria {
        display: flex;
        justify-content: center;
        background-color: brown;
        max-width: 380px;
    }

    .video img {
        max-width: 380px
    }

    div .descricao {
        display: none;
    }

    .descricao p {
        background-color: red;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;

        color: #000000;
    }

}